.vscode/
# ignore python intermediary files
*.pyc
# ignore virtual environment for python
**/venv/
**/env/
# ignore log directory
*/log/
**/*.log
# ignore all config files to protect the sensitive data
**/*.cfg
