[production]
schema: public
table: alertas

[publish]
schema: public
table: alertas

[publish_sfs]
sequence: deter_cerrado_api_seq
jobber_schema: public
jobber_tables: {'tb1':'deter_cerrado_alerts'}
input_schema: public
input_table: alertas
output_schema: public
output_table: deter_cerrado_mun_ucs
county_table: state_municipalities_cerrado_biome
uc_table: conservation_units_cerrado_biome