[developer] 
download_to: <a/host/directory/to/store/downloaded/files>
download_from: <the/FTP/directory/where/the/files/are>

[production] 
download_to: <a/host/directory/to/store/downloaded/files>
download_from: <the/FTP/directory/where/the/files/are>