[email]
servertype: google
to: <list of emails separated by a comma>
from: <an email used to send messages>
server: <SMTP server>
port: <SMTP port>
mail_user: <An email used as user to login>
mail_pass: <password>